<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,145},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{24,24}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>100.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,239},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,171},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{24,24}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>50.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,266},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>bird.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,240},{43,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{43,29}}</string>
                <key>sourceSize</key>
                <string>{43,31}</string>
            </dict>
            <key>bird_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,240},{58,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,32}}</string>
                <key>sourceSize</key>
                <string>{60,34}</string>
            </dict>
            <key>changePlayerButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,108},{154,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{154,32}}</string>
                <key>sourceSize</key>
                <string>{156,34}</string>
            </dict>
            <key>cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{256,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,106}}</string>
                <key>sourceSize</key>
                <string>{256,106}</string>
            </dict>
            <key>cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{257,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,107}}</string>
                <key>sourceSize</key>
                <string>{257,107}</string>
            </dict>
            <key>cloud3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{252,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,117}}</string>
                <key>sourceSize</key>
                <string>{252,117}</string>
            </dict>
            <key>cross.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,86},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,23}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,239},{58,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,32}}</string>
                <key>sourceSize</key>
                <string>{60,34}</string>
            </dict>
            <key>exit_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,239},{58,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,32}}</string>
                <key>sourceSize</key>
                <string>{60,34}</string>
            </dict>
            <key>fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,384},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ground1_bump1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,204},{102,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,34}}</string>
                <key>sourceSize</key>
                <string>{104,36}</string>
            </dict>
            <key>ground1_long.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,203},{102,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,34}}</string>
                <key>sourceSize</key>
                <string>{104,36}</string>
            </dict>
            <key>ground2_long.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,111},{90,32}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{90,32}}</string>
                <key>sourceSize</key>
                <string>{92,38}</string>
            </dict>
            <key>ground_crash.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,165},{102,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,36}}</string>
                <key>sourceSize</key>
                <string>{104,36}</string>
            </dict>
            <key>ground_crash_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,352},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>ground_crash_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{29,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{29,28}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>ground_crash_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{28,35}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{28,35}}</string>
                <key>sourceSize</key>
                <string>{30,35}</string>
            </dict>
            <key>ground_crash_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,51},{23,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,33}}</string>
                <key>sourceSize</key>
                <string>{23,33}</string>
            </dict>
            <key>ground_crash_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,197},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>highscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,51},{224,55}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{224,55}}</string>
                <key>sourceSize</key>
                <string>{226,57}</string>
            </dict>
            <key>input_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,142},{120,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,60}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>moon.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,293},{36,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{36,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,341},{58,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,32}}</string>
                <key>sourceSize</key>
                <string>{60,34}</string>
            </dict>
            <key>option.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,307},{58,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,32}}</string>
                <key>sourceSize</key>
                <string>{60,34}</string>
            </dict>
            <key>playAgainButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,2},{233,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{233,47}}</string>
                <key>sourceSize</key>
                <string>{235,49}</string>
            </dict>
            <key>protect_ring.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,341},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>scores.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,307},{58,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,32}}</string>
                <key>sourceSize</key>
                <string>{60,34}</string>
            </dict>
            <key>scores_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,273},{58,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,32}}</string>
                <key>sourceSize</key>
                <string>{60,34}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,273},{58,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,32}}</string>
                <key>sourceSize</key>
                <string>{60,34}</string>
            </dict>
            <key>start_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,308},{58,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,32}}</string>
                <key>sourceSize</key>
                <string>{60,34}</string>
            </dict>
            <key>sting1.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,329},{32,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,21}}</string>
                <key>sourceSize</key>
                <string>{32,21}</string>
            </dict>
            <key>sting2.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,142},{32,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,21}}</string>
                <key>sourceSize</key>
                <string>{32,21}</string>
            </dict>
            <key>sun.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,271},{36,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{36,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>tmp.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,274},{58,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,32}}</string>
                <key>sourceSize</key>
                <string>{60,34}</string>
            </dict>
            <key>wandou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,311},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>wandou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,416},{28,30}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{28,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>wandou_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,16},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>wandou_she_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{28,32}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>wandou_she_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{30,30}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>all_sprites.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fbfc5c4a3f5bb4e8e7b3142b43f4ed6$</string>
            <key>textureFileName</key>
            <string>all_sprites.png</string>
        </dict>
    </dict>
</plist>
