<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>wandou_shot</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>wandou_1.png</string>
				<string>wandou_she_1.png</string>
				<string>wandou_she_2.png</string>
			</array>
		</dict>
		<key>wandou_wait</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>wandou_1.png</string>
				<string>wandou2.png</string>
			</array>
		</dict>
		<key>ciwei_wait</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
					<string>sting1.png</string>
					<string>sting2.png</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>